body {
    background-color: #c7bba0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

header {
    padding: 20px;
    margin-bottom: 0px;
}

section {
    margin-top: 0px;
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto
}

.boxes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: nowrap;
}

.box {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    min-width: 200px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

footer {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}