body {
    background-color: #c7bba0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

header {
    padding: 10px;
    margin-bottom: 0px;
    background-color: #6b705c;
    color: white;
    font-size: 1.5em;
    border-bottom: 10px solid #b7b7a4;
}

section:first-of-type{
    margin-top: 0px;
    padding-top: 0px;
}

section {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    max-width: 60%;
    height: auto;
}

.image-container::after {
    content: "AI-generated image";
    position: absolute;
    bottom: 0%;
    right: 20%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

.box {
    flex: 1;
    background-color: #f5f5dc;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 20px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.box details {
    cursor: pointer;
    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.box summary {
    display: flex;
    align-items: center;
}

.box summary h3 {
    display: inline;
}

.profanity-checker{
    text-align: center;
}

input {
    padding: 10px;
    width: 250px;
    margin-right: 10px;
}

button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #58728e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px
}

button:hover {
    background-color: #0056b3
}

footer {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    .boxes {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 90%;
    }
}